<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Change Email", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, placeholder: "New Password", autocomplete: "off" %><br /><i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", autocomplete: "off" %><br /><i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="field">
    <%= f.text_field :username, placeholder: "Change Username" %>
  </div>
  <div class="field">
    <%= f.text_field :name, placeholder: "Change Name" %>
  </div>

    <div class="field">
    <%= f.text_field :location, placeholder: "Change Location" %>
  </div>
  
  <div class="field">
    <strong> Upload New Avatar: </strong>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
